header {
  width: 100%;
  height: 168px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* header top start */
/* banner start */
header > div.headerTop {
  height: 60px;
  width: 100%;
}

header > div.headerTop > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
/* banner end */
/* header top end */

/* header mid start */
/* logo,search, register start */
header > div.headerMid {
  width: 100%;
  height: 68px;
  background-color: white;
}

header > div.headerMid > div {
  display: inline-block;
  vertical-align: top;
  margin-left: -0px;
  position: relative;
  /* background-color: aqua; */
}
header > div.headerMid > div.right {
  width: 130px;
  height: inherit;
}
header > div.headerMid > div.right > img {
  width: 90%;
  height: 40px;
  margin: 15px 10px 0px 0px;
  cursor: pointer;
}

header > div.headerMid > div.mid {
  width: 67%;
  height: inherit;
  position: relative;
}

header > div.headerMid > div.mid > input {
  width: 70%;
  height: 40px;
  position: absolute;
  margin: 15px 20px 20px 0px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: rgba(219, 219, 219, 0.616);
}

header > div.headerMid > div.mid > span {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  margin: 25px 25px 25px 0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

header > div.headerMid > div.left {
  width: 311px;
  height: inherit;
  position: absolute;
  top: 10;
  left: 10;
}

div.left > div > section.register-box {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 50px;
  border: solid 1px rgb(0, 0, 0);
}

div.left > div > section.register-box > a {
  position: absolute;
  margin-top: 10px;
  margin-right: 5px;
  color: black;
}

section.register-box > section.icon > img {
  margin-right: 95px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
}

div.left div > span.line {
  position: absolute;
  margin-top: -25px;
  margin-right: 190px;
  height: 40%;
}

div.left div > span.line span.fa-shopping-cart {
  margin-right: 20px;
  position: absolute;
  cursor: pointer;
}
/* logo,search, register end */
/* header mid end */

/* header bottom start */
header > div.headerBottom {
  width: 100%;
  height: 40px;
  background-color: white;
}

header > div.headerBottom > nav {
  width: 85%;
  height: inherit;
  /* background-color: brown; */
}

header > div.headerBottom > nav > ul {
  width: 90%;
  height: inherit;
  /* background-color: blueviolet; */
  list-style: none;
}

header > div.headerBottom > nav > ul > li {
  display: inline-block;
  /* background-color: chocolate; */
  text-align: center;
  height: 20px;
  margin: 0 8px;
  margin-right: 20px;
  margin-top: 19px;
  vertical-align: top;
}

header > div.headerBottom > nav > ul > li > a {
  display: inline-block;
  width: inherit;
  height: inherit;
  font-family: IR-YEKAN;
  font-size: 13px;
  text-decoration: none;
  color: rgb(105, 105, 105);
}

header > div.headerBottom > nav > ul > li:hover div.SUBMENU {
  display: block;
}

header > div.headerBottom > nav > ul > li > div.SUBMENU {
  width: 98.8vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.692);
  position: absolute;
  top: 40;
  right: 0;
  display: none;
}

header > div.headerBottom > nav > ul > li > div.SUBMENU > div.submenu {
  width: 210px;
  height: 380px;
  background-color: whitesmoke;
  position: relative;
  overflow: scroll;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.submenu
  > ul
  > li {
  width: 180px;
  height: 40px;
  /* background-color: whitesmoke; */
  margin: 10px;
  margin-right: 10px;
  margin-top: 0px;
  list-style: none;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.submenu
  > ul
  > li:hover
  > a {
  display: inline-block;
  color: #e6123d;
  background-color: white;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.submenu
  > ul
  > li
  > a {
  width: 180px;
  height: 40px;
  color: rgb(105, 105, 105);
  margin: 0 15px;
}

header > div.headerBottom > nav > ul > li > div.SUBMENU > div.mainmenu {
  display: inline-block;
  width: 990px;
  height: 380px;
  margin-top: -380px;
  margin-right: -523px;
  background-color: whitesmoke;
  position: absolute;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.title {
  width: 980px;
  height: 40px;
  /* background-color: aqua; */
  text-align: right;
  cursor: pointer;
  color: rgb(86, 86, 255);
  margin-top: 20px;
  margin-right: 45px;
  position: relative;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.title
  > span {
  margin-right: 130px;
  margin-top: -15px;
  position: absolute;
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.product-text {
  width: 980px;
  height: 320px;
  /* background-color: #e6123d; */
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: scroll;
  cursor: pointer;
 
}

header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.product-text
  > h2 {
  margin-right: 10px;
  margin-top: 10px;
  font-family: IR-YEKAN;
  color: rgba(0, 0, 0, 0.911);
 cursor: pointer;
 /* background-color: blue; */
 text-align: right;
}


header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.product-text>h2
  > ul> li{
    width: inherit;
    height: inherit;
    /* background-color: violet; */
    list-style: none;
    margin-top: 15px;
    color: rgb(105, 105, 105);
    font-family: IR-YEKAN;
    text-align: justify;
    cursor: pointer;
  }

  header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.product-text>h2
  > ul> div.extera-text{
    margin-top: 30px;
  }

  header
  > div.headerBottom
  > nav
  > ul
  > li
  > div.SUBMENU
  > div.mainmenu
  > section.product-text>h2
  > ul> div.extera-text>h2>ul>li{
    width: inherit;
    height: inherit;
    /* background-color: violet; */
    list-style: none;
    color: rgb(105, 105, 105);
    font-family: IR-YEKAN;
    text-align: justify;
    margin-top: 20px;
  }


 

  
  





 
































header > div.headerBottom > div.city {
  width: 10%;
  height: inherit;
  /* background-color: blue; */
  display: inline-block;
  vertical-align: top;
  margin-right: 1145px;
  margin-top: -40px;
}

div.city div > img {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-right: 15px;
  position: relative;
}

div.city div > section.area-city {
  position: absolute;
  margin-right: 50px;
  margin-top: -25px;
  cursor: pointer;
  font-family: IR-YEKAN;
  font-size: 12px;
}
/* header bottom end */
