header {
  width: 100%;
  height: 168px;
}

/* header top start */
/* banner start */
header > div.headerTop {
  height: 60px;
  width: 100%;
}

header > div.headerTop > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
/* banner end */
/* header top end */

/* header mid start */
/* logo,search, register start */
header > div.headerMid {
  width: 100%;
  height: 68px;
}

header > div.headerMid > div {
  display: inline-block;
  vertical-align: top;
  margin-left: -0px;
  position: relative;
  /* background-color: aqua; */
}
header > div.headerMid > div.right {
  width: 130px;
  height: inherit;
}
header > div.headerMid > div.right > img {
  width: 90%;
  height: 40px;
  margin: 15px 10px 0px 0px;
  cursor: pointer;
}

header > div.headerMid > div.mid {
  width: 67%;
  height: inherit;
  position: relative;
}

header > div.headerMid > div.mid > input {
  width: 70%;
  height: 40px;
  position: absolute;
  margin: 15px 20px 20px 0px;
  padding-right: 30px;
  border-radius: 10px;
}

header > div.headerMid > div.mid > span {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  margin: 25px 25px 25px 0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

header > div.headerMid > div.left {
  width: 311px;
  height: inherit;
  position: absolute;
  top: 10;
  left: 10;
}

div.left > div > section.register-box {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 50px;
  border: solid 1px black;
}

div.left > div > section.register-box > a {
  position: absolute;
  margin-top: 10px;
  margin-right: 5px;
  color: black;
}

section.register-box > section.icon > img {
  margin-right: 95px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
}

div.left div > span.line {
  position: absolute;
  margin-top: -25px;
  margin-right: 190px;
  height: 40%;
}

div.left div > span.line span.fa-shopping-cart {
  margin-right: 20px;
  position: absolute;
  cursor: pointer;
}
/* logo,search, register end */
/* header mid end */

/* header bottom start */
header > div.headerBottom {
  width: 100%;
  height: 40px;
}

header > div.headerBottom > nav {
  width: 80%;
  height: inherit;
  background-color: brown;
}

header > div.headerBottom > div.city {
  width: 20%;
  height: inherit;
  /* background-color: blue; */
  display: inline-block;
  vertical-align: top;
  margin-right: 80%;
  margin-top: -40px;
}

div.city div > img {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-right: 15px;
  position: relative;
}

div.city div > section.area-city {
  position: absolute;
  margin-right: 50px;
  margin-top: -25px;
  cursor: pointer;
}
/* header bottom end */
