@font-face {
  font-family: digiyekan;
  src: url(../font/BYekan+.ttf);
}
@font-face {
  font-family: digiyekan;
  src: url(../font/BYekan.eot);
}
@font-face {
  font-family: digiyekan;
  src: url(../font/BYekan.woff);
}
@font-face {
  font-family: digiyekan;
  src: url(../font/BYekan.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header start */
#banner {
  width: 100vw;
  height: 60px;
}
div.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 128px 12px 128px;
}

div.container2 {
  display: flex;
  flex-direction: row;
}

div.container2 > span > img {
  margin-bottom: -40px;
  margin-left: 20px;
}
#Logo {
  width: 90%;
  height: 40px;
  margin-left: 80px;
  margin-top: 20px;
  padding: 5px;
}

#search {
  background-color: silver;
  padding: 10px 20px 10px 300px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
}

#shop {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  cursor: pointer;
}

[for="show"] {
  width: 100px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  font: digiyekan;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 200px;
}
/* header end */

/*menu start */

div.men {
  box-shadow: 5px 5px 5px;
  text-align: center;
  margin: 5px;
  margin-top: 30px;
  cursor: pointer;
}

div.menu {
  width: inherit;
  height: inherit;
  margin-inline: 10px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font: digiyekan;
}

/* menu end */

/* choose your country start */
#choose,
#close {
  display: none;
}

label[for="choose"] {
  display: inline-block;
  width: 160px;
  border-radius: 10px;
  font: digiyekan;
  text-align: center;
  cursor: pointer;
  position: relative;
  right: -20px;
  top: -35px;
  font-weight: 900;
}

div.CHOOSE {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s;
  z-index: 10;
}

#choose:checked ~ div.CHOOSE {
  left: 0px;
}

label[for="close"] {
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  position: absolute;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 30px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

#close:checked ~ div.CHOOSE {
  left: -106%;
}

div.img {
  margin-top: -60px;
  padding-left: 190px;
}

/*  choose your country end */
