* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.Products {
  position: relative;
  margin: -50px;
  padding: -50px;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

section.Products > div.data-active1 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p1.jpeg);
}

section.Products > div.data-active2 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p2.jpeg);
}

section.Products > div.data-active3 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p3.jpeg);
}

section.Products > div.data-active4 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p4.jpeg);
}

section.Products > div.data-active5 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p5.jpeg);
}

section.Products > div.data-active6 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p6.jpeg);
}

section.Products > div.data-active7 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p7.jpeg);
}

section.Products > div.data-active8 {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  transition: 350ms;
  border-radius: 100%;
  border: solid 2px rgb(250, 0, 0);
  margin: 10px;
  padding: 30px;
  background-repeat: round;
  cursor: pointer;
  background-image: url(../story/p8.jpeg);
}

div.data-active1:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active2:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active3:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active4:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active5:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active6:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active7:hover ~ div {
  background-color: rgb(255, 255, 255);
}

div.data-active8:hover ~ div {
  background-color: rgb(255, 255, 255);
}
