* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.story2 {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  /* background-color: aqua; */
}

section.story2 > div.img > img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: -12px;
  background-repeat: no-repeat;
  position: relative;
}

section.story2 > div.img > span {
  width: 120px;
  margin-right: -75px;
  padding: 10px;
  padding-top: 110px;
  /* background-color: yellow; */
  position: absolute;
  text-align: center;
}
