*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: IR-YEKAN;
  src: url(../../font/IRANYekanWeb.ttf);
}
@font-face {
  font-family: IR-YEKA;
  src: url(../../font/IRANYekanWeb.woff2);
}
@font-face {
  font-family: IR-YEKA;
  src: url(../../font/IRANYekanWeb.woff);
}
@font-face {
  font-family: IR-YEKA;
  src: url(../../font/IRANYekanWeb.eot);
}
